/* Obsidian Custom CSS Snippet: hover-popover.css */

/* Hover Preview of a Page Ref */
.popover.hover-popover {
  /* transform: scale(0.8); */
  overflow: auto;
  padding: 10px;
  width: 50%;
  max-height: 50%;
}

/* Height of block ref in the Hover Preview of a Page Ref */
.popover.hover-popover .markdown-embed {
  height: unset;
}
