/* Obsidian Custom CSS Snippet: Tags.css */

/* ---------- Tag Pane ---------- */
.tag-container > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  min-height: unset !important;
}

.tag-container div:empty {
  display: none;
}

.tree-item-self.tag-pane-tag {
  align-items: center;
}

/* ---------- Tags ---------- */

/* Enable below CSS to align your tags to the Right in preview mode */
/* .tag:not(.token) {
  float: right;
} */

/* ---------- Tag Pills: Reference: https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/64 */

/* div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-hashtag-end:before {
  content: "#";
} */

.tag:not(.token),
.tag-pane-tag-text,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-hashtag {
  background-color: var(--text-accent);
  border: none;
  color: white !important;
  font-size: 11px;
  /* padding: 1px 8px; */
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  /* border-radius: 14px; */
}

.tag:not(.token),
.tag-pane-tag-text {
  padding: 0 8px;
  border-radius: 100vw;
}

.cm-hashtag-begin {
  padding-left: 8px;
  border-radius: 100vw 0 0 100vw;
}

.cm-hashtag-end {
  padding-right: 8px;
  border-radius: 0 100vw 100vw 0;
}

.tag:not(.token):hover {
  color: white;
  background-color: var(--text-accent-hover);
}
.tag[href^="#obsidian"] {
  background-color: #4d3ca6;
}
.tag[href^="#important"] {
  background-color: red;
}
.tag[href^="#complete"] {
  background-color: green;
}
.tag[href^="#inprogress"] {
  background-color: orange;
}

/* ---- End Tag Pills ----- */
